.hero{
    background: linear-gradient(to left,rgb(193, 248, 244),rgb(254, 232, 185));
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px 20px;

}
a:hover{
    text-decoration: underline;

}
.form-bg {
    background-image: url("../src/assets/video-img.jpg");
    background-size: cover;        /* Makes image cover the full div */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    width: 100%;
    height: 100vh;                 /* Make section fill the screen */
}



/* Icon inside input */
.input-with-icon {
  padding-left: 2.5rem !important;
  height: 48px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.247);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}

/* Smooth card design */
.login-card {
  border-radius: 18px;
  background-color: rgba(252, 250, 250, 0.667);
  backdrop-filter: blur(10px);
}

/* Form title */

.form-title{
    color: #09fc01;
}

.checkbox{
    transform: scale(1.6);
    
}
/* Card Image */



/* anchor tag  */
.form-link{
    color: rgb(27, 27, 252);
    font-size: 18px;
}
.form-link:hover{
    text-decoration: underline rgb(236, 235, 237) !important 
}
/* Social Icons */
.social-icon:hover{
    background-color: rgb(246, 241, 239) !important;
}
.error-text{
    color: rgb(255, 102, 0);
}


.About{
    margin: 0px 60px;
    padding: 90px 40px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(243, 248, 250);
}
/* .about-hero{
    background-image: url("./assets/car-interior.jpg");
    object-fit: cover;
} */